/* Tag Selector */
p {
    color: green;
}

/* Class Selector */
.custom-border {
    border: 2px solid black;
    padding: 10px;
}

/* ID Selector */
#special {
    background-color: lightyellow;
}

/* Background Image */
body {
    background-image: url('https://via.placeholder.com/1500');
    background-size: cover;
    background-position: center;
}